@CHARSET "UTF-8";

h1{
	text-align: center;
}
table {
	margin: 0 auto;
	width: 1000px;
	border: 1px solid #ddd;
	border-collapse: collapse;
}
td{
	height: 25px;
	text-align: center;
	padding: 10px;
}
input{
	padding: 3px;
	width: 200px;
	border-radius: 4px;
	border: 1px solid #ddd;
}
.content textarea{
	height: 100px;
	width: 95%;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: gray;
}
.btn{
	padding: 5px 7px;
	border-radius: 4px;
	font-size: 17px;
}
.fileSec{
	margin: 1% 24%;
}
#add{
	width: 135px;
}
#delete{
	width: 135px;
}