@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}
section {
	min-height: 100%;
}
html, body {
	height: 100%;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #3f4b5e;
}

.footer_contents {
	width: 65%;
	height: 200px;
	margin: 0 auto;
}
.contents_menu {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.contents_menu ul {
	list-style: none;
	float: left;
}
.contents_menu ul li {
	display: inline-block;
	margin: 0 20px;
	font-size: 12px;
}
.contents_menu ul li a {
	color: white;
}
.contents_menu ul li a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}
.contents_menu ul span {
	color: white;
    font-size: 15px;
    font-weight: bolder;
}
.topBtn {
	width: 20%;
	height: 60px;
	float: right;
}
.topBtn a {
	width: 100%;
	height: 60px;
	color: white;
	font-size: 12px;
	font-weight: bold;
}
.topBtn a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}
.topBtn a:focus {
	color: white;
	text-decoration: none;
}
.footer_contents_wrapper {
	width: 100%;	
	height: 120px;
	padding-left: 20px;
	overflow: hidden;
}
.footer_wrapper {
	color: white;
	font-size: 12px;
	display: inline-block;
}
.footer_logo {
	width: 16%;
    height: 80px;
    display: inline-block;
    float: right;
    margin-right: 75px;
}