@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.contents_all{
	min-height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Nanum Gothic", sans-serif;
}
/* slide start*/
.container {
	width: 100%;
   	padding: 0;
   	margin: 0;
}

/* slide end */
.slide_bottom_nav {
	width: 100%;
	height:65px;
	background-color: rgb(26,51,57);
}
.slide_bottom_nav_wrap {
	width: 100%;
	height: 65px;
 	margin: 0 auto;
}
.slide_bottom_nav img {
	height: 65px;
}
.slide_bottom_nav {
	font-size: 40px;
	font-weight: bold;
	color: white;	
}
.slide_bottom_nav_img {
	text-align: center;
	width: 562px;
    height: 65px;
    display: inline-block;
}
.slide_bottom_nav_span {
	vertical-align: middle;
   	display: inline-block;
   	width: 770px;
   	text-align: center;
}
.slide_bottom_nav_span p {
	margin: 0;
	font-size:36px;
}
.slide_bottom_nav_span p:hover {
	color:#12A5F4;
}
.contents_wrap {
	width: 100%;
	height: 480px;
	overflow: hidden;
}
.contents_main {
	width: 1008px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	border:1px solid #3f4b5e;
}
.contents_menu_all {
	width: 700px;
	height: 100%;
	float: left;
}
.contents_top_left {
	width:100%;
	height:240px;
	overflow: hidden;
	border-bottom: 1px solid #3f4b5e;
}
.contents_bottom_left {
	width: 100%;
	height: 240px;
	display: inline-block;
}
.contents_ul {
	list-style: none;
}
.contents_img {
	width: 223px;
	float:left;
	height: 239px;
	border-right:1px solid #3f4b5e;

}
.contents_menu_top {
	width: 30.4%;
	height: 480px;
	float: left;
	background-color: #f5f8fa;
}
.contents_top_right {
	width: 100%;
	height: 240px;
	border-bottom:1px solid #3f4b5e;
}
.contents_botton_right {
	width: 100%;
	height: 240px;
}
.contents_right_p {
	padding: 40px 0 0 30px;
   	font-size: 20px;
   	font-weight: bold;
}
.contents_right_ul {
	margin-left: 40px;
}
.contents_right_ul li {
	padding-bottom: 10px;
	font-size: 12px;
}
.contents_right_ul li>span {
	padding-left: 125px;
   	font-size: 10px;
}
#spacebar {
 	height:0;
}