@CHARSET "UTF-8";

header {
	width: 100%;
	height: 630px;
	background-image: url("https://scloud.pstatic.net/20170519_194/1495192294388n0VLj_PNG/background_main_top_1920x630_06.png");
}
.header_logo {
	width: 10%;
	height: 100px;
	background-color: white;
	float: left;
}
.header_logMenu {
	width: 15%;
	height: 100px;
	float: right;
	text-align: center;
	line-height: 100px;
}
.header_logMenu span {
	color: white;
	font-size: 20px;
	font-weight: bolder;
}
.loginBtn {
	color: white;
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bolder;
}
.loginBtn:hover {
	color: white;
	text-decoration: none;
	background-color: transparent;
}
.joinBtn {
	color: white;
	background-color: transparent;
	font-size: 20px;
   	font-weight: bolder;
}
.joinBtn:hover {
	color: white;
	text-decoration: none;
	background-color: transparent;
}
nav {
	width: 100%;
	height: 70px;
	background-color: lightblue;
}
.nav_menu {
	width: 65%;
	height: 65px;
	margin: 0 auto;
	text-align: center;
	line-height: 65px;
}
.nav_menu ul {
	list-style: none;
}
.nav_menu ul li {
	display: inline-block;
	cursor: pointer;
    margin: 0 30px;
    font-size: 20px;
}
.nMenus_on {
	color: RGB(18, 165, 244);
    border-bottom: 5px solid RGB(18, 165, 244);
}
.menus {
	display: none;
}
.menus_on {
	width: 100%;
	height: 30px;
	background-color: black;
	display: block;
}
.menus_on > div {
	width: 65%;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
}
.menus_on div ul {
	list-style: none;
}
.menus_on div ul li {
	display: inline-block;
	margin: 0 30px;
	font-size: 13px;
}
.menus_on div ul li a {
	color: white;
}
.menus_on div ul li a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}