@CHARSET "UTF-8";

/* Contents 시작 부분 */
section {
	width: 100%;
	height: 800px;
}
.allContents {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.leftContents {
	width: 250px;
	height: auto;
	float: left;
}
.leftMenu {
	width: 100%;
	height: auto;
}
.leftMenu_header {
	width: 100%;
    height: 40px;
    background-color: #3f4b5e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
}
.leftMenu_wrapper {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.leftMenu_wrapper ul {
	list-style: none;
}
.leftMenu_wrapper ul li {
	width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E0E0E0;
    padding-left: 10px;
}
.leftMenu_wrapper ul li a {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 15px;
	font-weight: bold;
	display: block;
}
.leftMenu_wrapper ul li a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}
.rightContents {
	width: 720px;
	height: auto;
	margin: 0 auto;
	float: right;
}
.contents_header {
	font-size: 20px;
	font-weight: bolder;
}
.wrapper_title
{
	width: 100%;
	height: 160px;
	margin: 0 auto;
	padding-top: 30px;
}
.wrapper_title h3
{
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}
.title_text
{
	padding-top: 7px;
	font-size: 16px;
	color: #767676;
	text-align: center;
}
.title_text strong
{
	color: RGB(18, 165, 244);
}
.allAgreement
{
	width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 35px;
}
.allAgreement input
{
	width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

.wrapper_box1
{
	width: 620px;
	height: 185px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;
	overflow: hidden;
}
.agreements
{
	width: 100%;
	height: 50px;
	padding-left: 18px;
	font-size: 14px;
	line-height: 50px;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
	float: left;
}
.wrapper_box1 input
{
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-right: 20px;
	float: right;
}
.containers
{
	width: 100%;
	height: 135px;
	margin-top: 50px;
	font-size: 12px;
	color: #767676;
	padding: 0 18px;
	overflow: auto;
}

.containers strong {
	display: block;
	font-weight: bold;
	margin-top: 15px;
}

.containers span {
	display: block;
	font-weight: bold;
	margin: 10px 0 3px;
}

.containers ol li {
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.number {
	margin-left: 13px;
	overflow: hidden;
	width: 100%;
}

.containers ol li p {
	padding-left: 13px;
}

.wrapper_box2 {
	width: 620px;
	height: 185px;
	margin: 0 auto;
	margin-top: 15px;
	border: 1px solid #e6e6e6;
	overflow: hidden;
}

.wrapper_box2 input {
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-right: 20px;
	float: right;
}

.space {
	display: block;
	margin-top: 15px;
}

.containers a {
	text-decoration: underline;
	color: blue;
}

.wrapper_foot {
	width: 100%;
	height: 180px;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
	text-align: center;
}
.foot_btn a {
    margin: 10px;
    font-size: 20px;
    color: white;
    border: none;
    padding: 15px 12%;
    background-color: red;
    line-height: 45px;
}
.foot_btn a:hover {
	text-decoration: none;
}
.foot_other a input {
	width: 180px;
	height: 27px;
	float: left;
	margin-top: 12px;
	margin-left: 80px;
}
/* Contents 끝 부분 */