@CHARSET "UTF-8";

section {
	width: 100%;
	height: 1000px;
}
.allContents {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.leftContents {
	width: 250px;
	height: auto;
	float: left;
}
.leftMenu {
	width: 100%;
	height: auto;
}
.leftMenu_header {
	width: 100%;
    height: 40px;
    background-color: #3f4b5e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
}
.leftMenu_wrapper {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.leftMenu_wrapper ul {
	list-style: none;
}
.leftMenu_wrapper ul li {
	width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E0E0E0;
    padding-left: 10px;
}
.leftMenu_wrapper ul li a {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 15px;
	font-weight: bold;
	display: block;
}
.leftMenu_wrapper ul li a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}
.rightContents {
	width: 720px;
	height: auto;
	margin: 0 auto;
	float: right;
}
.contents_header {
	font-size: 25px;
	font-weight: bolder;
}
.contents_wrapper {
	margin-top: 20px;
}
.find_header {
	border-bottom: 2px solid darkgray;
	color: RGB(18, 165, 244);
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.find_warning {
	padding: 20px;
	border: 1px solid darkgray;
	margin-bottom: 25px;
}
.contents_wrapper table {
	margin: 0 auto;
	text-align: right;
}
.contents_wrapper table tr {
	height: 60px;
}
.contents_wrapper table tr td {
	padding-right: 20px;
}
#idFind_result {
	text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 1.5px solid darkviolet;
    display: none;
}
#idFind_result span {
	color: RGB(18, 165, 244);
}

.pwFind_box {
	margin-top: 50px;
}

.btn_box {
	text-align: center;
}
.btn_box input {
	color: white;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    border-radius: 0.3em;
    font-weight: bold;
    background-color: RGB(18, 165, 244);
}
