@CHARSET "UTF-8";

section {
	width: 100%;
}
.allContents {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.leftContents {
	width: 250px;
	height: auto;
	float: left;
}
.leftMenu {
	width: 100%;
	height: auto;
}
.leftMenu_header {
	width: 100%;
    height: 40px;
    background-color: #3f4b5e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
}
.leftMenu_wrapper {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.leftMenu_wrapper ul {
	list-style: none;
}
.leftMenu_wrapper ul li {
	width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E0E0E0;
    padding-left: 10px;
}
.leftMenu_wrapper ul li a {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 15px;
	font-weight: bold;
	display: block;
}
.leftMenu_wrapper ul li a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}
.rightContents {
	width: 720px;
	height: auto;
	margin: 0 auto;
	float: right;
}
.contents_header {
	font-size: 25px;
	font-weight: bolder;
}
.contents_wrapper {
	margin-top: 20px;
	background-color: #f9f9f9;
}

#content_body{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 50px;
}

#content_body .register_body{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 10px;
	
}

#content_body .register_body .hope_major{
	width: 100%;
	height: 60px;
}

#content_body .register_body .hope_major .hope_left{
	width: 22%;
	height: 44px;
	border: 2px;
	float: left;
	display: inline-block;
	/* margin-top: 10px; */
	border-bottom: 2px solid #6d6e72;
}

#content_body .register_body .hope_major .hope_left .hope_banner{
	width: 90%;
	height: 90%;
	margin-top: 10px;
	border-top: 2px;
	/* border-style: solid; */
	border-top-color: #6d6e72;
}

#content_body .register_body .hope_major .major_choose{
	width: 75%;
	height: 44px;
	margin-top: 20px;
	margin-left:15%;
	padding-top: 2px;
	font-size: 14px;
	font-style: normal;
}

#content_body .register_body .hope_major .major_choose .m_p1{
	margin-left: 15%;
	margin-top: 10px;
}

.major_choose >p select{
	border-color: rgb(169, 169, 169);
}

#cs_info{
	width: 100%;
	height: auto;
	/* border:2px;
	border-style: solid;
	border-color: red; */
}
.register_body #cs_info{
	margin-top: 40px;
}
#content_body .register_body #cs_info .cs_left{
	width: 22%;
	height: 34px;
	border-bottom: 2px solid #6d6e72;
}
#content_body .register_body #cs_info .visit_register{
	width: 75%;
	height: auto;
	margin-left:23%;
	font-size: 14px;
	font-style: normal;
}
#content_body .register_body #cs_info .visit_register .visit_register_form{
	width:75%;
	height: auto;
	margin-left:3%;

}

#content_body .register_body #cs_info .visit_register .visit_register_form .cs_p{
	margin-top: 30px;
	display: inline-block;
}


#content_body .register_body #cs_info .visit_register .visit_register_form .cs_p1{
	/* margin-bottom: 30px; */
	display: inline-block;
}


#content_body .register_body #cs_info .visit_register .visit_register_form .cs_a1{
	margin-left:10%;
	display: inline-block;
	
	
}
#content_body .register_body #cs_info .visit_register .visit_register_form .cs_a2{
	margin-left:5%;
	display: inline-block;
	
}

#content_body .register_body #cs_info .visit_register .visit_register_form .cs_a3{
	margin-left:7.5%;
	display: inline-block;
	
}

#content_body .register_body #cs_info .visit_register .visit_register_form .cs_a4{
	margin-left:5%;
	display: inline-block;
	
}

#content_body .register_body #cs_info .visit_register .visit_register_form .cs_a5{
	margin-left:5%;
	display: inline-block;
	
}

#content_body .register_body #cs_info .visit_register .visit_register_form .cs_a6{
	margin-left:5%;
	display: inline-block;
	
}

#content_body .register_body #loca_info{
	width: 100%;
	height: auto;
	display: inline-block;

}

#content_body .register_body .loca_left{
	width: 22%;
	height: 34px;
	display: inline-block;

}

#content_body .register_body #loca_info .loca_left .loca_banner{
	width: 90%;
	height: 90%;
	border-bottom: 2px solid #6d6e72;
	float: left;
	display: inline-block;

}


#content_body .register_body #loca_info .loca_register{
	width: 70%;
	height: 44px;
	display:inline-block;
	/* margin-bottom: 10px; */
}

#content_body .register_body #loca_info .loca_register .lo_a{
	width: 50%;
	height:40px;
	margin-left:5%;
	display: inline-block;
	/* float: left; */
}

.hope_banner, .cs_banner, .loca_banner{
	font-family: 'NanumBarunGothic', 'Nanum Gothic', Dotum, sans-serif;
    font-size: 16px;
    color: #6d6e72;
}
.reg{
	font-family: 'NanumBarunGothic', 'Nanum Gothic', Dotum, sans-serif;
    font-size: 15px;
    color: black;
}

.subject{
	width:75%;
	border:1px;
	border-bottom: 1px solid #6d6e72;
}
.choose{
	font-family: 'NanumBarunGothic', 'Nanum Gothic', Dotum, sans-serif;
    font-size: 13px;
    color: #6d6e72;
	margin-top: 10px;
	margin-left: 20px;
	border-bottom: 1px solid #6d6e72;
}
.flow{
	font-family: 'NanumBarunGothic', 'Nanum Gothic', Dotum, sans-serif;
    font-size: 13px;
    color: #6d6e72;
	margin-left: 30px;
}

#button {
    background-color: #12A5F4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left:50%;
    cursor: pointer;
    border-radius: 4px;
}

#table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    margin: 0 auto;
    
}

#table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#table tr td input {
	width: 25px;
	height: 25px;
}

tr:nth-child(even) {
    background-color: #12A5F4;
}
.fc-state-active {
	display: none;
}
