@CHARSET "UTF-8";

section {
	width: 100%;
	height: 1000px;
}
.allContents {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.leftContents {
	width: 250px;
	height: auto;
	float: left;
}
.leftMenu {
	width: 100%;
	height: auto;
}
.leftMenu_header {
	width: 100%;
    height: 40px;
    background-color: #3f4b5e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
}
.leftMenu_wrapper {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.leftMenu_wrapper ul {
	list-style: none;
}
.leftMenu_wrapper ul li {
	width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E0E0E0;
    padding-left: 10px;
}
.leftMenu_wrapper ul li a {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 15px;
	font-weight: bold;
	display: block;
}
.leftMenu_wrapper ul li a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}
.rightContents {
	width: 720px;
	height: auto;
	margin: 0 auto;
	float: right;
}
.contents_header {
	font-size: 25px;
	font-weight: bolder;
}
.contents_wrapper {
	margin-top: 20px;
}
.teachers {
	width: 100%;
	height: 400px;
	background-color: #f2f2f2;
	margin-bottom: 30px;
}
.teachers_info {
	width: 300px;
	height: 400px;
	background-color: transparent;
	float: left;
	padding: 30px 50px;
}
.info_profileImg {
	width: 200px;
	height: 250px;
}
.info_profileImg img {
	width: 100%;
	height: 100%;
}
.info_teacherName {
	width: 200px;
	text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.teachers_career {
	width: 420px;
	height: 400px;
	background-color: transparent;
	float: left;
	padding: 30px 0;
}
.career_header {
	font-size: 20px;
}
.career_contents {
	
}