@CHARSET "UTF-8";
section {
	width: 100%;
	height: 1000px;
}
.allContents {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.leftContents {
	width: 250px;
	height: auto;
	float: left;
}
.leftMenu {
	width: 100%;
	height: auto;
}
.leftMenu_header {
	width: 100%;
    height: 40px;
    background-color: #3f4b5e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
}
.leftMenu_wrapper {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.leftMenu_wrapper ul {
	list-style: none;
}
.leftMenu_wrapper ul li {
	width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E0E0E0;
    padding-left: 10px;
}
.leftMenu_wrapper ul li a {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 15px;
	font-weight: bold;
	display: block;
}
.leftMenu_wrapper ul li a:hover {
	color: RGB(18, 165, 244);
	text-decoration: none;
}
.rightContents {
	width: 720px;
	height: auto;
	margin: 0 auto;
	float: right;
}
.contents_header {
	font-size: 25px;
	font-weight: bolder;
}
.contents_wrapper {
	margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  color: lightgray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgray;
}

.coumunity_input_title {
	width:730px;
	height:30px;
	margin:15px 0;
	border:0;
	border-bottom: 1px solid #dddddd;
	font-size: 20px;
}
#community_insert {
	float: right;
    width: 50px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    margin-right: 10px;
    margin-top:20px;
}
#community_insert:hover {
	background-color: RGB(18, 165, 244);
	color:white;
}
#community_cancle {
	float: right;
    width: 50px;
    height: 30px;
    background-color: #d43f3a;
    border-radius: 4px;
    color: white;
    border-color: #d43f3a;
    margin-top:20px;
}
#cke_contents {
	height:500px;
}
.community_file_warp{
    padding-top: 10px;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #3f4b5e;
}
/* 드래그 & 드롭  */
.dragAndDropDiv {
                border: 1px dashed #3f4b5e;
                border-top:0;
                width: 720px;
                height: 100px;
                color: #3f4b5e;
                text-align: center;
                vertical-align: middle;
                padding: 10px 0px 10px 10px;
                font-size:200%;
                display: table-cell;
            }
            .progressBar {
                width: 200px;
                height: 22px;
                border: 1px solid #ddd;
                border-radius: 5px; 
                overflow: hidden;
                display:inline-block;
                margin:0px 10px 5px 5px;
                vertical-align:top;
            }
              
            .progressBar div {
                height: 100%;
                color: #fff;
                text-align: center;
                line-height: 22px; /* same as #progressBar height if we want text middle aligned */
                width: 0;
                background-color: RGB(18, 165, 244); 
                border-radius: 3px; 
            }
            .statusbar{
                min-height:25px;
                width:99%;
                padding:10px 10px 0px 10px;
                vertical-align:top;
            }
            .statusbar:nth-child(odd){
                background:#EBEFF0;
            }
            .filename{
                display:inline-block;
                vertical-align:top;
                width:250px;
            }
            .filesize{
                display:inline-block;
                vertical-align:top;
                color:#30693D;
                width:100px;
                margin-left:10px;
                margin-right:5px;
            }
            .abort{
                background-color:#A8352F;
                -moz-border-radius:4px;
                -webkit-border-radius:4px;
                border-radius:4px;display:inline-block;
                color:#fff;
                font-family:arial;font-size:13px;font-weight:normal;
                padding:4px 15px;
                cursor:pointer;
                vertical-align:top
            }