<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="memberMapper">

	<!-- 일반 아이디 체크 -->
		<select id="memberIdCheck" parameterType="String" resultType="String">
			SELECT id FROM member where id=#{checkId}
		</select>
	<!-- 일반 회원가입 -->  	
	  	<insert id="memberJoin" parameterType="MemberDTO">
	  		INSERT INTO member VALUES(MEMBER_SEQ.nextval, #{id}, #{pw}, #{name}, #{phone}, #{email}, #{age}, #{address}, 'normal', 0)
	  	</insert>
	<!-- 일반 로그인 -->
		<select id="memberLogin" parameterType="MemberDTO" resultType="MemberDTO">
			SELECT * FROM member WHERE id=#{id} AND pw=#{pw}
		</select>
	<!-- state Update -->
	  	<update id="stateUpdate" parameterType="MemberDTO">
	  		UPDATE member SET 
	  		<if test="state == 0">
	  			state=1 
	  		</if>
	  		<if test="state == 1">
	  			state=0
	  		</if>
	  		WHERE member_seq=#{member_seq}
	  	</update>
	  	
	<!-- naver 체크 -->
	  	<select id="memberCheck" resultType="MemberDTO" parameterType="java.lang.String">
  			SELECT * FROM member WHERE id=#{email}
	  	</select>
	  	
</mapper>