<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="replyMapper">
 	
 	<insert id="freeboardReplyInsert" parameterType="com.fp.reply.ReplyDTO">
 		INSERT INTO reply VALUES(#{reply_seq},#{board_seq},#{contents},#{writer},#{ref},0,0,sysdate) 	
 	</insert>
 	
 	<select id="reply_seq" resultType="int">
 		SELECT reply_seq.nextval FROM dual
 	</select>
 	
 	<select id="replyList" parameterType="int" resultType="com.fp.reply.ReplyDTO">
 		SELECT * FROM reply WHERE board_seq=#{board_seq} ORDER BY reply_seq desc
 	</select>
 	
 	<delete id="replyDelete" parameterType="int">
 		DELETE reply WHERE board_seq=#{board_seq}
 	</delete>
 	
 	
 	
 	<update id="stepUpdate" parameterType="com.fp.reply.ReplyDTO">
 		UPDATE reply SET step=step+1 WHERE ref=#{ref} and step>#{step}
 	</update>
 	<insert id="reply_reply" parameterType="com.fp.reply.ReplyDTO">
 		INSERT INTO reply VALUES(#{reply_seq},#{board_seq},#{contents},#{writer},#{ref},#{step}+1,#{depth}+1,sysdate )
 	</insert>
</mapper>