<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="uploadMapper">

<!-- 회원 프로필 사진 insert -->
	<insert id="memberImageInsert" parameterType="UploadDTO">
		INSERT INTO upload VALUES(file_seq.nextval, 0, member_seq.currval, #{file_name}, #{ori_name})
	</insert>
<!-- 회원 프로필 사진 selectOne -->
	<select id="memberImageOne" parameterType="MemberDTO" resultType="UploadDTO">
		SELECT * FROM upload WHERE member_seq=#{member_seq}
	</select>
<!-- 회원 프로필 사진 delete(회원삭제) -->	
	<delete id="memberImageDelete" parameterType="int">
		DELETE upload WHERE member_seq=#{member_seq}
	</delete>
<!-- 회원 프로필 사진 update -->
	<insert id="memberImageUpdate" parameterType="UploadDTO">
		INSERT INTO upload VALUES(file_seq.nextval, 0, #{member_seq}, #{file_name}, #{ori_name})
	</insert>
</mapper>