<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.fp.member.MemberDTO" alias="MemberDTO"/>
 		<typeAlias type="com.fp.student.StudentDTO" alias="StudentDTO"/>
 		<typeAlias type="com.fp.upload.UploadDTO" alias="UploadDTO"/>
 		<typeAlias type="com.fp.teacher.TeacherDTO" alias="TeacherDTO"/>
 		<typeAlias type="com.fp.calendar.CalendarDTO" alias="CalendarDTO"/>
 		<typeAlias type="com.fp.sign.SignDTO" alias="SignDTO"/>
 	</typeAliases>
 </configuration>